<!-----------------------------------NAVBAR------------------------>

<nav class="navbar">
  <a href="/" class="logo-link">
    <img src="../assets/images/navicon.png" alt="Company Logo" class="logo" />
  </a>

  <div class="nav-links">
    <a href="../about/">About Us</a>

    <div class="dropdown">
      <button class="dropdown-btn">
        Our Services
        <span>▾</span>
      </button>

      <div class="dropdown-menu">
        <a href="../services/converter-refurbishment/">
          Converter Refurbishment
        </a>

        <a href="../services/test-bench-solutions/"> Test Bench Solutions </a>

        <a href="../services/renewable-energy-services/">
          Renewable Energy Services
        </a>

        <a href="../services/technical-consulting/"> Technical Consulting </a>

        <a href="../services/marine-engineering/"> Marine Engineering </a>
      </div>
    </div>
  </div>

  <a href="../contact-us/" id="nav-contact">Contact Us</a>

  <button class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="mobile-overlay"></div>

<div class="mobile-pane">
  <button class="close-menu">✕</button>

  <!-- ================= MAIN MENU ================= -->

  <div class="mobile-page active" id="mainMenu">
    <a href="../about/"> About Us </a>

    <button class="menu-btn" id="servicesBtn">
      <span>Our Services</span>

      <span>></span>
    </button>

    <a href="../contact/"> Contact Us </a>
  </div>

  <!-- ================= SERVICES ================= -->

  <div class="mobile-page" id="servicesMenu">
    <button class="back-btn" id="back1">
      <span><</span>

      <span>Back</span>
    </button>

    <a href="../services/converter-refurbishment/"> Converter Refurbishment </a>

    <a href="../services/renewable-energy-services/">
      Renewable Energy Services
    </a>

    <a href="../services/technical-consulting/"> Technical Consulting </a>

    <a href="../services/test-bench-solutions/"> Test Bench Solutions </a>

    <a href="../services/marine-engineering/"> Marine Engineering </a>
  </div>
</div>

<!----------------------------------END NAVBAR--------------------->
