<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/images/favicon-96x96.png"
    />
    <title>Vayucon Renewables</title>
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>
  <body>
    <!-----------------------------------NAVBAR------------------------>

    <nav class="navbar">
      <a href="/" class="logo-link">
        <img src="/assets/images/navicon.png" alt="Company Logo" class="logo" />
      </a>

      <div class="nav-links">
        <a href="/about/">About Us</a>

        <div class="dropdown">
          <button class="dropdown-btn">
            Our Services
            <span>▾</span>
          </button>

          <div class="dropdown-menu">
            <a href="/services/converter-refurbishment/">
              Converter Refurbishment
            </a>

            <div class="submenu-container">
              <a href="/services/test-bench-solutions/" class="submenu-trigger">
                Test Bench Solutions
              </a>

              <div class="submenu">
                <a href="/services/custom-test-benches/">
                  Custom Test Benches
                </a>

                <a href="/services/existing-bench-modernization/">
                  Existing Bench Modernization
                </a>

                <a href="/services/validation-fat/"> Validation & FAT </a>
              </div>
            </div>

            <a href="/services/renewable-energy-services/">
              Renewable Energy Services
            </a>

            <a href="/services/technical-consulting/"> Technical Consulting </a>

            <a href="/services/marine-engineering/"> Marine Engineering </a>
          </div>
        </div>
      </div>

      <button id="nav-contact">Contact Us</button>
    </nav>

    <!----------------------------------END NAVBAR--------------------->
  </body>
</html>
